<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">실시간</h1>
				<button type="button" class="btn_popup_close _popup_close">
					<span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents" style="min-height: 800px">
				<div class="area_contents">
					<!-- box contents -->
					<div class="box_contents" id="">
						<div class="real_time_search">
							<div class="tap">
								<ul class="clearfix">
									<li class="active col-xs-4" data-tab="#tab01">
										<a href="#">댐/보</a>
									</li>
									<li class="col-xs-4" data-tab="#tab02">
										<a href="#">상수도</a>
									</li>
									<li class="col-xs-4" data-tab="#tab03">
										<a href="#">하수도</a>
									</li>
								</ul>
							</div>
							<div id="tab_pannel_pop" style="height: 190px;"></div>
							<div class="mapForm" style="display: none;">
								<dl>
									<dd class="dam_sy"><span class="{{list.c1012110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=1012110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">주의</span>소양강댐</a></span></dd>
									<dd class="dam_cj"><span class="{{list.c1003110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=1003110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">주의</span>충주댐</a></span></dd>
									<dd class="dam_hs"><span class="{{list.c1006110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=1006110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">주의</span>횡성댐</a></span></dd>
									<dd class="dam_ad"><span class="{{list.c2001110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">주의</span>안동댐</a></span></dd>
									<dd class="dam_lh"><span class="{{list.c2002110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2002110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">주의</span>임하댐</a></span></dd>
									<dd class="dam_hc"><span class="{{list.c2015110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2015110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>합천댐</a></span></dd>
									<dd class="dam_my"><span class="{{list.c2021110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2021110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>밀양댐</a></span></dd>
									<dd class="dam_kw"><span class="{{list.c2008101 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2008101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>군위댐</a></span></dd>
									<dd class="dam_kc"><span class="{{list.c2010101 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=2010101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>김천부항댐</a></span></dd>
									<dd class="dam_yd"><span class="{{list.c3001110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=3001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>용담댐</a></span></dd>
									<dd class="dam_dc"><span class="{{list.c3008110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=3008110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>대청댐</a></span></dd>
									<dd class="dam_ja"><span class="{{list.c4007110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=4007110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>주암댐</a></span></dd>
									<dd class="dam_ba"><span class="{{list.c3303110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=3303110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>부안댐</a></span></dd>
									<dd class="dam_br"><span class="{{list.c3203110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=3203110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">관심</span>보령댐</a></span></dd>
									<dd class="dam_jh"><span class="{{list.c5101110 }}"><a href="javascript:getSub01YongsuSupplyByName('s_mid=1323&amp;damcode=5101110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3')"><span class="hidden">정상</span>장흥댐</a></span></dd>
								</dl>
								<!--<dl>-->
									<!--<dd class="dam_sy"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=1012110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">주의</span>소양강댐</a></span></dd>-->
									<!--<dd class="dam_cj"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=1003110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">주의</span>충주댐</a></span></dd>-->
									<!--<dd class="dam_hs"><span class="icon_lv02"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=1006110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">주의</span>횡성댐</a></span></dd>-->
									<!--<dd class="dam_ad"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">주의</span>안동댐</a></span></dd>-->
									<!--<dd class="dam_lh"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2002110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">주의</span>임하댐</a></span></dd>-->
									<!--<dd class="dam_hc"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2015110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>합천댐</a></span></dd>-->
									<!--<dd class="dam_my"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2021110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>밀양댐</a></span></dd>-->
									<!--<dd class="dam_kw"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2008101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>군위댐</a></span></dd>-->
									<!--<dd class="dam_kc"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=2010101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>김천부항댐</a></span></dd>-->
									<!--<dd class="dam_yd"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=3001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>용담댐</a></span></dd>-->
									<!--<dd class="dam_dc"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=3008110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>대청댐</a></span></dd>-->
									<!--<dd class="dam_ja"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=4007110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>주암댐</a></span></dd>-->
									<!--<dd class="dam_ba"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=3303110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>부안댐</a></span></dd>-->
									<!--<dd class="dam_br"><span class="icon_lv03"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=3203110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">관심</span>보령댐</a></span></dd>-->
									<!--<dd class="dam_jh"><span class="icon_lv01"><a href="/realtime/sub01/sub01/dam/yongsuSupply.do?s_mid=1323&amp;damcode=5101110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3"><span class="hidden">정상</span>장흥댐</a></span></dd>-->
								<!--</dl>-->
							</div>
							<div class="table table_scroll_y" id="pannel_realtime_pop_result"></div>


						</div>
					</div>
				</div> <!-- //box contents -->
			</div>
		</div>
	</div>
</div>

