<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">날씨이야기</h2>
		<a href="http://m.water.or.kr/life/weatherstory/weatherstory01.do" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents">
		<div class="grid_inner">
			<!-- 기로형 이미지 리스트 ( 텍스트 영역 3줄 ) -->
			<ul class="wa_thumbnail_horz_list col3">
				{{#each weatherStory.getJsonData}}
					{{#isRange @index 0 4}}
						<li>
							<a href="http://m.water.or.kr/life/weatherstory/weatherstory01_detail.do?weatherstoryNum={{turseq}}" class="_btn_move_sub">
								<div class="list_img">
									<img src="//www.water.or.kr/images/egovframework/life/weast/{{thumbnailNm}}" alt="">
								</div>
								<div class="list_info">
									<p class="list_title">{{blogTitle}}</p>
									<p class="list_txt">{{blogContent}}</p>
									<p class="by">출처 : {{sourceTitle}}</p>
								</div>
							</a>
						</li>
					{{/isRange}}
				{{/each}}
			</ul> <!-- //기로형 이미지 리스트 ( 텍스트 영역 3줄 ) -->
		</div>
		<!-- 리스트 페이징 -->
		<!--<div class="pagination_wrap">
			<ul class="pagination">
				<li><a class="first" href="#">처음으로</a></li>
				<li><a class="prev" href="#">이전</a></li>
				<li><a class="active" href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a class="next" href="#">다음</a></li>
				<li><a class="last" href="#">마지막으로</a></li>
			</ul>
		</div>--> <!-- //리스트 페이징 -->
	</div>
</div>