<!-- area_contents -->
<div class="area_contents">
	<!-- 내 지역 물 정보 -->
	<div class="box_header my_location_header">
		<p class="my_location"><a href="#" class="btn_search_location"><span
				class="sprite sprite_common icon_location_blue"></span></a>내 지역의 물 정보를 한눈에 보여줍니다.</p>
	</div>
	<div class="location_setting">
		<p class="location">{{locationInfo.getJsonData.sidoNm}} {{locationInfo.getJsonData.cggNm}} {{locationInfo.getJsonData.umdActNm}}</p>
		<a href="#" class="btn _btn_change_location"><span class="sprite sprite_common icon_location_setting"></span>지역설정</a>
	</div> <!-- //내 지역 물 정보 -->
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">우리동네 날씨<span class="date">{{nowDate "YYYY-MM-DD hh"}}</span></h2>
		<a href="#" class="btn btn_weather_story _btn_weather_info">날씨이야기</a>
	</div>
	<div class="box_contents none_padding_right">
		<div class="weather_town_forecast">
			<div class="weather_info">
				<div class="weather_img">
					<!--$("#weatherImg").attr("src","/images/egovframework/main_new/weather_ico0" + getResult.skyStatus + ".png");-->
					<img src="//www.water.or.kr/{{setWeather myWeather.getJsonData.skyStatus}}" alt="">
				</div>
				<ul>
					<li><span class="current_temper">{{myWeather.getJsonData.temperature}}℃</span></li>
					<li>
						<span class="low_temper">{{myWeather.getJsonData.lowesttemp}}℃</span>
						<span class="temper_divide">/</span>
						<span class="high_temper">{{myWeather.getJsonData.highesttemp}}℃</span>
					</li>
					<li><span class="rainfall_per">강수확률 : {{myWeather.getJsonData.rainPer}}%</span></li>
				</ul>
			</div>
			<div class="weather_info_text">
				<ul class="triangle_list">
					<li>연 누적강수량 : {{dataFormat makeData.sumRf '0,0'}}mm
						<ul class="gray_dot_list">
							<li>예년누적 {{makeData.rfRate}}mm</li>
							<li>전년누적 {{makeData.srRate}}mm</li>
						</ul>
					</li>
					{{#if myInfo.getJsonData.STAGE}}
						<li>
							상수원({{myInfo.getJsonData.ALERT_OBJECT}})조류현황<span
								class="situation_ico box_org">{{myInfo.getJsonData.STAGE}}</span>
							<a href="#" class="btn btn_small _btn_popup_tidal">자세히 <span
									class="sprite sprite_common right_sprite icon_more"></span></a>
						</li>
					{{/if}}
					<li>
						가뭄상황
                        <span class="situation_ico box_{{droughtColor
						myInfo.getJsonData.DROUGHT_STAT}}">{{myInfo.getJsonData.DROUGHT_STAT}}</span>
						<a href="#" class="btn btn_small _btn_popup_drounght">자세히 <span
								class="sprite sprite_common right_sprite icon_more"></span></a>
					</li>
					<li>
						미세먼지 <span class="situation_ico box_{{pm10Color
					myInfo.getJsonData.pm10Grade}}">{{pm10Grade myInfo.getJsonData.pm10Grade}}</span>
                        <span class="list_inner_margin_left">오존 <span
								class="situation_ico box_{{o3Color myInfo.getJsonData.o3Grade}}">{{o3Info
						myInfo.getJsonData.o3Grade}}</span></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="tap_water">
		<ul class="clearfix">
			<li class="active">
				<a href="#">
					<div class="icon_box"><span class="sprite sprite_common icon_water_tab_01"></span></div>
					<p class="tap_water_txt">나의 수돗물</p>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<div class="icon_box"><span class="sprite sprite_common icon_water_tab_02"></span></div>
					<p class="tap_water_txt">내 지역 수자원</p>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<div class="icon_box"><span class="sprite sprite_common icon_water_tab_03"></span></div>
					<p class="tap_water_txt">우리동네 샘터</p>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<div class="icon_box"><span class="sprite sprite_common icon_water_tab_04"></span></div>
					<p class="tap_water_txt">명소</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="area_box" id="tab01">
		<div class="tab_water_title">
			<p>나의 수돗물 <span>내가 먹는 수돗물정보를 알고 싶다면?</span></p>
		</div>
		<div class="tab_inner_box">
			<div class="box_header none_border_bottom">
				<h2 class="contents_title">수돗물경로</h2>
				<!--<a href="//www.water.or.kr/gis/application/watertracking/map.jsp" target="_blank" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>-->
			</div>
			<div class="water_route_wrap">
				<div class="route_icon_wrap">
					{{#checkRoute myInfo.getJsonData.TREAT_NM myInfo.getJsonData.RES_NM }}
						<ul>
							<li>
								<span class="sprite sprite_common icon_water_route_01"></span>
								<span class="route_txt">{{myInfo.getJsonData.INTAKE_NM}}</span>
							</li>
							<li>
								<span class="sprite sprite_common icon_water_route_02"></span>
								<span class="route_txt">{{myInfo.getJsonData.TREAT_NM}}</span>
							</li>
							<li>
								<span class="sprite sprite_common icon_water_route_03"></span>
								<span class="route_txt">{{myInfo.getJsonData.RES_NM}}</span>
							</li>
							<li>
								<span class="sprite sprite_common icon_water_route_04"></span>
								<span class="route_txt">{{locationInfo.getJsonData.umdActNm}}</span>
							</li>
						</ul>
					{{else}}
						<ul class="step_3">
							<li>
								<span class="sprite sprite_common icon_water_route_01"></span>
								<span class="route_txt">{{myInfo.getJsonData.INTAKE_NM}}</span>
							</li>
							<li>
								<span class="sprite sprite_common icon_water_route_02"></span>
								<span class="route_txt">{{myInfo.getJsonData.TREAT_NM}}</span>
							</li>
							<li>
								<span class="sprite sprite_common icon_water_route_04"></span>
								<span class="route_txt">{{locationInfo.getJsonData.umdActNm}}</span>
							</li>
						</ul>
					{{/checkRoute}}
				</div>
				<div class="water_info">
					<div class="water_info_inner">
						<ul>
							<li>
								<em class="sprite sprite_common sprite_bullet"></em><span>탁도</span><strong>{{dataFormat myInfo.getJsonData.TB '0,0.00'}} NTU</strong> (0.5이하)
							</li>
							<li>
								<em class="sprite sprite_common sprite_bullet"></em><span>PH</span><strong>{{dataFormat myInfo.getJsonData.PH '0,0.0'}}</strong> (5.8~8.5)
							</li>
							<li>
								<em class="sprite sprite_common sprite_bullet"></em><span>잔류염소</span><strong>{{dataFormat myInfo.getJsonData.RC '0,0.0'}}㎎/L</strong> (0.1~4.0)
							</li>
						</ul>
						<p>※공급정수장 수질임</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab_inner_box">
			<div class="box_contents">
				<div class="my_region_water">
					<ul class="clearfix">
						<li>
							<h3 class="title">급수인구<span>({{locationInfo.getJsonData.sidoNm}})</span></h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_01"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">{{dataFormat myInfo.getJsonData.TOTAL_COUNT '0,0'}}천명</p>
								</div>
							</div>
						</li>
						<li>
							<h3 class="title">보급률<span>({{locationInfo.getJsonData.sidoNm}})</span></h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_02"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">보급률 {{dataFormat myInfo.getJsonData.SUPPLY_RATE '0,0.0'}}%</p>
									<ul class="graph_list">
										<li>
											<span class="graph_txt">최고</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MAX_SUPPLY_RATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">평균</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.AVG_SUPPLY_RATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">최저</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MIN_SUPPLY_RATE '0,0.0'}}%</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<h3 class="title">1인1일 물사용량<span>(가정용)</span></h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_03"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">{{dataFormat myInfo.getJsonData.CITY_LPCD '0,0.0'}}ℓ</p>
									<ul class="graph_list">
										<li>
											<span class="graph_txt">최고</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MAX_LPCD '0,0.0'}}ℓ</span>
										</li>
										<li>
											<span class="graph_txt">평균</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.AVG_LPCD '0,0.0'}}ℓ</span>
										</li>
										<li>
											<span class="graph_txt">최저</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MIN_LPCD '0,0.0'}}ℓ</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<h3 class="title">유수율<span>(검침수량÷공급수량)</span></h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_04"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">{{dataFormat myInfo.getJsonData.CITY_RATE '0,0.0'}}%</p>
									<ul class="graph_list">
										<li>
											<span class="graph_txt">최고</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MAX_RATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">평균</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.AVG_RATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">최저</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MIN_RATE '0,0.0'}}%</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<h3 class="title">수돗물 요금</h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_05"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">{{dataFormat myInfo.getJsonData.CITYPRICE '0,0'}}/㎥</p>
									<ul class="graph_list">
										<li>
											<span class="graph_txt">최고</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MAXPRICE '0,0'}}/㎥</span>
										</li>
										<li>
											<span class="graph_txt">평균</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.AVGPRICE '0,0'}}/㎥</span>
										</li>
										<li>
											<span class="graph_txt">최저</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MINPRICE '0,0'}}/㎥</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<h3 class="title">현실화율<span>(평균요금÷생산원가)</span></h3>
							<div class="region_water_info">
								<div class="water_icon">
									<span class="sprite sprite_common icon_region_water_06"></span>
									<a href="#" class="btn _btn_water_info">더보기 <span
											class="sprite sprite_common right_sprite icon_more"></span></a>
								</div>
								<div class="water_graph">
									<p class="result_txt">{{dataFormat myInfo.getJsonData.REALRATE '0,0.0'}}%</p>
									<ul class="graph_list">
										<li>
											<span class="graph_txt">최고</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MAX_REALRATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">평균</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.AVG_REALRATE '0,0.0'}}%</span>
										</li>
										<li>
											<span class="graph_txt">최저</span><span class="graph_volume">{{dataFormat
										myInfo.getJsonData.MIN_REALRATE '0,0.0'}}%</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="area_box" id="tab02">
		<div class="tab_water_title">
			<p>내 지역 수자원 <span>내 지역 물길은 어디에 있을까?</span></p>
		</div>
		<div class="tab_inner_box">
			<div class="box_header none_border_bottom">
				<h2 class="contents_title">{{myInfo.getJsonData.STRNAME}} (지방하천)</h2>
				<!--<a href="//www.water.or.kr/gis/wqualitymap/gis_quality.jsp" target="_blank" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>-->
			</div>
			<div class="box_contents none_top_padding">
				<div class="water_spout_wrap">
					<div class="water_spout_map">
						<img src="https://www.water.or.kr/images/egovframework/riverpoint/{{myInfo.getJsonData.POINTCODE}}.jpg" alt="">
						<!--<img src="https://www.water.or.kr/images/egovframework/main_new/info_river_bg.gif" alt="">-->
					</div>
					<div class="water_spout_info" style="width:50%">
						<ul class="triangle_list">
							<li>수질 : {{makeData.str_valueStatus}}
								<span class="sprite icon_water_character ch_0{{waterqtyIcon myInfo.getJsonData.STSVALUESTATUS}}"></span>
							</li>
							{{#if makeData.wlvalue03}}
								<li>수심 : {{makeData.wlvalue03}}m</li>
							{{else}}
								<li>데이터가 없습니다</li>
							{{/if}}
						</ul>
						<div class="water_spout_graph">
							<div class="graph blue_graph">
								{{#if makeData.wlvalue01_p}}
									<div>
										<ul>
											<li><span
													style="height:{{makeData.wlvalue01_p}}%"><em>{{makeData.wlvalue01}}</em></span><strong>{{makeData.wlday01}}</strong>
											</li>
											<li><span
													style="height:{{makeData.wlvalue02_p}}%"><em>{{makeData.wlvalue02}}</em></span><strong>{{makeData.wlday02}}</strong>
											</li>
											<li><span
													style="height:{{makeData.wlvalue02_p}}%"><em>{{makeData.wlvalue03}}</em></span><strong>{{makeData.wlday03}}</strong>
											</li>
										</ul>
									</div>
								{{else}}
									<div style="text-align: center;">데이터가 없습니다</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab_inner_box">
			<div class="box_header none_border_bottom">
				<h2 class="contents_title">{{myInfoDam.getJsonData.DAMNM}}<span class="date">현재 : {{nowDate}}</span>
				</h2>
				<!--<a href="#" class="btn _btn_move_sub">더보기<span class="sprite sprite_common right_sprite icon_more"></span></a>-->
			</div>
			<div class="box_contents none_top_padding">
				<div class="dam_wrap">
					<div class="dam_info">
						<div class="dam_img">
							<img src="https://www.water.or.kr/images/egovframework/facility/{{myInfoDam.getJsonData.DAMCD}}.jpg " alt="">
							<a href="#" class="btn btn_rect _btn_popup_cctv" data-damcd="{{myInfoDam.getJsonData.DAMCD}}"><span class="sprite sprite_common icon_cctv"></span>CCTV 영상보기</a>
						</div>
						<div class="info_list">
							<ul class="triangle_list">
								<li>수&nbsp;&nbsp;위 : {{dataFormat makeData.getHourRwl  '0,0.0'}}EL.m</li>
								<li>저수량 : {{dataFormat makeData.getHourSsQry  '0,0.0'}}백만m3</li>
								<li>저수율 : {{dataFormat makeData.getToRate  '0,0.0'}}%</li>
							</ul>
							<a href="#" class="btn btn_rect _btn_realtime"><span
									class="sprite sprite_common icon_dam"></span>전국 댐&middot;보&middot;수문 실시간 현황</a>
						</div>
					</div>
					<div class="dam_graph">
						<div class="graph_01">
							<div class="graph blue_graph">
								<div>
									<ul>
										<li>
											<span style="height:{{dataFormat makeData.dam_rate_cp '0,0.0'}}%"><em>{{dataFormat makeData.dam_rate_cp '0,0.0'}}</em></span><strong>현재</strong>
										</li>
										<li>
											<span style="height:{{dataFormat makeData.dam_rate_yp '0,0.0'}}%"><em>{{dataFormat makeData.dam_rate_yp '0,0.0'}}</em></span><strong>작년</strong>
										</li>
										<li>
											<span style="height:{{dataFormat makeData.dam_rate_ep '0,0.0'}}%"><em>{{dataFormat makeData.dam_rate_ep '0,0.0'}}</em></span><strong>예년</strong>
										</li>
									</ul>
								</div>
								<p class="graph_title">저수율(%)</p>
							</div>
						</div>
						<div class="graph_02">
							<div class="graph dual_graph">
								<div>
									<ul>
										<li>
											<div>
												<span style="height:{{dataFormat makeData.dam_qty_cp '0,0'}}%"><em>{{dataFormat makeData.dam_qty_cp '0,0.0'}}</em></span><strong>현재</strong>
											</div>
											<div>
												<span style="height:{{dataFormat makeData.dam_tdqty_cp '0,0'}}%"><em>{{dataFormat makeData.dam_tdqty_cp '0,0.0'}}</em></span><strong>현재</strong>
											</div>
										</li>
										<li>
											<div>
												<span style="height:{{dataFormat makeData.dam_qty_yp '0,0'}}%"><em>{{dataFormat makeData.dam_qty_yp '0,0.0'}}</em></span><strong>작년</strong>
											</div>
											<div>
												<span style="height:{{dataFormat makeData.dam_tdqty_yp '0,0'}}%"><em>{{dataFormat makeData.dam_tdqty_yp '0,0.0'}}</em></span><strong>작년</strong>
											</div>
										</li>
										<li>
											<div>
												<span style="height:{{dataFormat makeData.dam_qty_ep '0,0'}}%"><em class="four">{{dataFormat makeData.dam_qty_ep '0,0'}}</em></span><strong>예년</strong>
											</div>
											<div>
												<span style="height:{{dataFormat makeData.dam_tdqty_ep '0,0'}}%"><em class="four">{{dataFormat makeData.dam_tdqty_ep '0,0.0'}}</em></span><strong>예년</strong>
											</div>
										</li>
									</ul>
								</div>
								<p class="graph_title"><span class="graph_radius_blue"></span>유입량/ <span
										class="graph_radius_org"></span>방류량(㎥/s)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="area_box" id="tab03">
		<div class="tab_water_title">
			<p>우리동네 샘터 <span>따뜻한 온천과 건강한 약숫물 정보</span></p>
		</div>
		<div class="tab_inner_box">
			<div class="box_header none_border_bottom">
				<h2 class="contents_title">온천</h2>
				<a href="http://m.water.or.kr/life/around/around03.do" class="btn _btn_move_sub">더보기 <span
						class="sprite sprite_common right_sprite icon_more"></span></a>
			</div>
			<div class="box_contents none_top_padding">
				<div class="hot_springs_wrap">
					<ul class="springs_img">
						<li><img
								src="//www.water.or.kr/upload/main/img/hotspring/{{myInfo.getJsonData.UNG_IMGURL}}"
								alt=""></li>
						<li><img
								src="https://openapi.naver.com/v1/map/staticmap.bin?clientId=QRkL0TixAVinC37gGaJK&url=https://m.water.or.kr&crs=EPSG:4326&center={{myInfo.getJsonData.COORD_Y}},{{myInfo.getJsonData.COORD_X}}&level=10&w=300&h=200&baselayer=default&markers={{myInfo.getJsonData.COORD_Y}},{{myInfo.getJsonData.COORD_X}}"
								alt=""></li>
					</ul>
					<p class="title">{{myInfo.getJsonData.UNG_SPRINGNM}}</p>
					<p class="txt">{{myInfo.getJsonData.UNG_HOT_ADDR}}<br>효능 : {{makeData.springHo}}
						(♨{{myInfo.getJsonData.UNG_COMPONENT}})</p>
				</div>
			</div>
		</div>
		<div class="tab_inner_box">
			<div class="box_header">
				<h2 class="contents_title">샘터</h2>
				<a href="http://m.water.or.kr/life/around/around04.do" class="btn _btn_move_sub">더보기 <span
						class="sprite sprite_common right_sprite icon_more"></span></a>
			</div>
			<div class="box_contents">
				<div class="water_place_wrap">
					<p class="title">샘터명 : {{myInfo.getJsonData.UNG_SPOTNM}}</p>
					<p class="txt">{{myInfo.getJsonData.UNG_ADDRES}}<br>수질검사 : 2015년 4분기</p>
					<div class="water_quality">
						<ul>
							<li>
								<div class="component_name">
									<span>일반세균<br>(CFU/mℓ)</span>
								</div>
								<div class="component_quantity">
									<p>기준치(100이하)</p>
									<div class="graph graph_pink">
										<span class="graph_bar {{makeData.genBacClass}}"></span>
										<span class="graph_txt">{{myInfo.getJsonData.UNG_GENBAC}}</span>
										<span class="line"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="component_name">
									<span>총대장균군<br>(mℓ)</span>
								</div>
								<div class="component_quantity">
									<p><span class="txt_red">검출</span> / <span class="txt_green">불검출</span></p>
									<div class="graph graph_green">
										<span class="graph_bar {{makeData.totbacClass}}"></span>
										<span class="graph_txt">{{myInfo.getJsonData.UNG_TOTBAC}}</span>
									</div>
								</div>
							</li>
							<li>
								<div class="component_name">
									<span>질산성질소<br>(mg/ℓ)</span>
								</div>
								<div class="component_quantity">
									<p>(10이하)</p>
									<div class="graph graph_yellow">
										<span class="graph_bar {{makeData.no3NClass}}"></span>
										<span class="graph_txt">{{myInfo.getJsonData.UNG_NO3N}}</span>
										<span class="line"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="component_name">
									<span>과망간산칼륨<br>소비량(mg/ℓ)</span>
								</div>
								<div class="component_quantity">
									<p>(10이하)</p>
									<div class="graph graph_blue">
										<span class="graph_bar {{makeData.KmnClass}}"></span>
										<span class="graph_txt">{{myInfo.getJsonData.UNG_KMN}}</span>
										<span class="line"></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="area_box" id="tab04">
		<div class="tab_water_title">
			<p>명소 <span>물과 함께하는 내주변 즐길거리</span></p>
		</div>
		<div class="tab_inner_box">
			<div class="box_header none_border_bottom">
				<h2 class="contents_title">여행코스</h2>
				<a href="http://m.water.or.kr/life/tour/tour01.do" class="btn _btn_move_sub">더보기 <span
						class="sprite sprite_common right_sprite icon_more"></span></a>
			</div>
			<div class="box_contents none_top_bottom_padding">
				<!-- 상단 세로형, 하단 가로형 이미지 리스트 -->
				<div class="grid_inner thumb_plus_horz_list">
					<!-- 세로형 이미지 리스트 ( 텍스트 영역 2줄 ) -->
					<ul class="wa_thumbnail_vert_list none_padding_top">
						<li>
							<a href="https://m.water.or.kr/life/tour/tour01_detail.do?damNo={{mainTour.getJsonData.0.damNo}}" class="_btn_move_sub">
								<div class="list_img">
									<img src="//www.water.or.kr/images/egovframework/life/lake/dam/{{mainTour.getJsonData.0.imgUrl}}" alt="">
								</div>
								<p class="list_title">{{mainTour.getJsonData.0.damNm}}</p>
								<p class="list_txt">{{mainTour.getJsonData.0.damDoc}}</p>
							</a>
						</li>
						<li>
							<a href="https://m.water.or.kr/life/tour/tour01_detail.do?damNo={{mainTour.getJsonData.1.damNo}}" class="_btn_move_sub">
								<div class="list_img">
									<img src="//www.water.or.kr/images/egovframework/life/lake/dam/{{mainTour.getJsonData.1.imgUrl}}" alt="">
								</div>
								<p class="list_title">{{mainTour.getJsonData.1.damNm}}</p>
								<p class="list_txt">{{mainTour.getJsonData.1.damDoc}}</p>
							</a>
						</li>
					</ul> <!-- //세로형 이미지 리스트 ( 텍스트 영역 2줄 ) -->
					<!-- 가로형 이미지 리스트 ( 텍스트 영역 2줄 ) -->
					<ul class="wa_thumbnail_horz_list">
						{{#each mainTour.getJsonData}}
							{{#isRange @index 2 5}}
								<li>
									<a href="//m.water.or.kr/life/tour/tour01_detail.do?damNo={{damNo}}" class="_btn_move_sub">
										<div class="list_img">
											<img src="//www.water.or.kr/images/egovframework/life/lake/dam/{{imgUrl}}" alt="">
										</div>
										<div class="list_info">
											<p class="list_title">{{damNm}}</p>
											<p class="list_txt">{{damDoc}}</p>
										</div>
									</a>
								</li>
							{{/isRange}}
						{{/each}}

					</ul> <!-- //가로형 이미지 리스트 ( 텍스트 영역 2줄 ) -->
				</div> <!-- //상단 세로형, 하단 가로형 이미지 리스트 -->
			</div>
		</div>
		<div class="tab_inner_box">
			<div class="box_header">
				<h2 class="contents_title">{{myInfo.getJsonData.BICYCLENM}}</h2>
				<a href="http://m.water.or.kr/life/tour/tour04.do" class="btn _btn_move_sub">더보기 <span
						class="sprite sprite_common right_sprite icon_more"></span></a>
			</div>
			<div class="box_contents none_all_padding">
				<div class="map_wrap">
					<div id="map" style="width:100%;height:250px;">
					</div>
					<p>{{myInfo.getJsonData.UNG_HOT_ADDR}}(총길이 : {{myInfo.getJsonData.TOTALDISTANCE}}km)</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //area_contents -->
