<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">가뭄 예·경보</h1>
				<button type="button" class="btn_popup_close _popup_close"><span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="box_inner">
					<div class="drought_forecast_wrap">
						<div class="tabs col_04 _tabs">
							<ul class="clearfix">
								<li class="active" data-tab="#tab01"><a href="#">현황</a></li>
								<li data-tab="#tab02"><a href="#">1개월 전망</a></li>
								<li data-tab="#tab03"><a href="#">3개월 전망</a></li>
							</ul>
						</div>
						<div class="area_box" id="tab01">
							<ul class="triangle_list">
								<li>문서번호 : {{drought.result.doc_NUM}}</li>
								<li>발표기관 : {{drought.result.organ}}</li>
								<li>발표날짜 : {{drought.result.rgsdt}}</li>
							</ul>
							<div class="popup_btn_wrap">
								<a href="{{drought.result.original_URL}}" class="btn btn_down">원문다운로드 <span class="sprite sprite_common icon_pdf right_sprite"></span></a>
							</div>
							<div class="drought_forecast">
								<h2 class="contents_title">현황</h2>
								<ul class="map_list clearfix">
									<li>
										<p class="title">기상 가뭄지도</p>
										<div class="map_img">
											<img src="{{drought.result.now_TP_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">생활및 공업용수 가뭄지도</p>
										<div class="map_img">
											<img src="{{drought.result.now_LFWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">농업용수 가뭄지도</p>
										<div class="map_img">
											<img src="{{drought.result.now_FRMWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
								</ul>
							</div>
							<div class="popup_btn_wrap align_center">
								<a href="http://drought2.kwater.or.kr/disaster/drought/droughtWarningMapWA.do" class="btn btn_blue_line" target="_blank">생&middot;공용수 상세보기</a>
							</div>
							<div class="table table_border table_center table_top_blue">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:19%;">
										<col style="width:27%;">
										<col style="width:27%;">
										<col style="width:27%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">기상가뭄</th>
										<th scope="col">생활 및 공업용수 가뭄</th>
										<th scope="col">농업용수 가뭄</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>주의<br><span class="round_signal icon_signal_yellow"></span></td>
										<td>{{drought.result.now_TP_A}}</td>
										<td>{{drought.result.now_LFWTR_A}}</td>
										<td>{{drought.result.now_FRMWTR_A}}</td>
									</tr>
									<tr>
										<td>심함<br><span class="round_signal icon_signal_orange"></span></td>
										<td>{{drought.result.now_TP_B}}</td>
										<td>{{drought.result.now_LFWTR_B}}</td>
										<td>{{drought.result.now_FRMWTR_B}}</td>
									</tr>
									<tr>
										<td>매우심함<br><span class="round_signal icon_signal_red"></span></td>
										<td>{{drought.result.now_TP_C}}</td>
										<td>{{drought.result.now_LFWTR_C}}</td>
										<td>{{drought.result.now_FRMWTR_C}}</td>
									</tr>
									</tbody>
								</table>
								<p class="txt_table_info">* 지방･마을상수도 운반･제한급수 현황 : 인천 옹진군 도서지역 6개 마을 1,480세대</p>
							</div>
						</div>
						<div class="area_box" id="tab02" style="display: none;">
							<ul class="triangle_list">
								<li>문서번호 : {{drought.result.doc_NUM}}</li>
								<li>발표기관 : {{drought.result.organ}}</li>
								<li>발표날짜 : {{drought.result.rgsdt}}</li>
							</ul>
							<div class="popup_btn_wrap">
								<a href="{{drought.result.original_URL}}" class="btn btn_down">원문다운로드 <span class="sprite sprite_common icon_pdf right_sprite"></span></a>
							</div>
							<div class="drought_forecast">
								<h2 class="contents_title">현황</h2>
								<ul class="map_list clearfix">
									<li>
										<p class="title">기상 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.frt_TP_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">생활및 공업용수 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.frt_LFWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">농업용수 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.frt_FRMWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
								</ul>
							</div>

							<div class="table table_border table_center table_top_blue">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:19%;">
										<col style="width:27%;">
										<col style="width:27%;">
										<col style="width:27%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">기상가뭄</th>
										<th scope="col">생활 및 공업용수 가뭄</th>
										<th scope="col">농업용수 가뭄</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>주의<br><span class="round_signal icon_signal_yellow"></span></td>
										<td>{{drought.result.frt_TP_A}}</td>
										<td>{{drought.result.frt_LFWTR_A}}</td>
										<td>{{drought.result.frt_FRMWTR_A}}</td>
									</tr>
									<tr>
										<td>심함<br><span class="round_signal icon_signal_orange"></span></td>
										<td>{{drought.result.frt_TP_B}}</td>
										<td>{{drought.result.frt_LFWTR_B}}</td>
										<td>{{drought.result.frt_FRMWTR_B}}</td>
									</tr>
									<tr>
										<td>매우심함<br><span class="round_signal icon_signal_red"></span></td>
										<td>{{drought.result.frt_TP_C}}</td>
										<td>{{drought.result.frt_LFWTR_C}}</td>
										<td>{{drought.result.frt_FRMWTR_C}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="area_box" id="tab03" style="display: none;">
							<ul class="triangle_list">
								<li>문서번호 : {{drought.result.doc_NUM}}</li>
								<li>발표기관 : {{drought.result.organ}}</li>
								<li>발표날짜 : {{drought.result.rgsdt}}</li>
							</ul>
							<div class="popup_btn_wrap">
								<a href="{{drought.result.original_URL}}" class="btn btn_down">원문다운로드 <span class="sprite sprite_common icon_pdf right_sprite"></span></a>
							</div>
							<div class="drought_forecast">
								<h2 class="contents_title">현황</h2>
								<ul class="map_list clearfix">
									<li>
										<p class="title">기상 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.thrd_TP_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">생활및 공업용수 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.thrd_LFWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
									<li>
										<p class="title">농업용수 가뭄지도</p>
										<div class="map_img">
											<img src="http://www.water.or.kr/images/egovframework/disaster/droughtAlarm/mobile/{{drought.result.thrd_FRMWTR_MB_FILE_NAME}}" alt="">
										</div>
									</li>
								</ul>
							</div>

							<div class="table table_border table_center table_top_blue">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:19%;">
										<col style="width:27%;">
										<col style="width:27%;">
										<col style="width:27%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">기상가뭄</th>
										<th scope="col">생활 및 공업용수 가뭄</th>
										<th scope="col">농업용수 가뭄</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>주의<br><span class="round_signal icon_signal_yellow"></span></td>
										<td>{{drought.result.thrd_TP_A}}</td>
										<td>{{drought.result.thrd_LFWTR_A}}</td>
										<td>{{drought.result.thrd_FRMWTR_A}}</td>
									</tr>
									<tr>
										<td>심함<br><span class="round_signal icon_signal_orange"></span></td>
										<td>{{drought.result.thrd_TP_B}}</td>
										<td>{{drought.result.thrd_LFWTR_B}}</td>
										<td>{{drought.result.thrd_FRMWTR_B}}</td>
									</tr>
									<tr>
										<td>매우심함<br><span class="round_signal icon_signal_red"></span></td>
										<td>{{drought.result.thrd_TP_C}}</td>
										<td>{{drought.result.thrd_LFWTR_C}}</td>
										<td>{{drought.result.thrd_FRMWTR_C}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>