<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">나의 수돗물</h1>
				<button type="button" class="btn_popup_close _popup_close">
					<span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="box_inner">
					<div class="water_info_wrap">
						<div class="water_info_graph">
							<div class="graph green_graph">
								<div>

									<ul>
										<li><span style="height:{{dataFormat statsPopup.suppluRateAll_p "0,0.0"}}%"><em>{{dataFormat statsPopup.suppluRateAll_p "0,0.0"}}</em></span><strong>평균</strong></li>
										<li>
											<span style="height:{{dataFormat statsPopup.suppluRateMax_p "0,0.0"}}%"><em>{{dataFormat statsPopup.suppluRateMax_p "0,0.0"}}</em></span><strong class="triple">최대<br>({{myWater.popupListSUM.1.cityName}})</strong>
										</li>
										<li>
											<span style="height:{{dataFormat statsPopup.suppluRateOur_p "0,0.0"}}%" class="bar_color"><em>{{dataFormat statsPopup.suppluRateOur_p "0,0.0"}}</em></span><strong class="double">우리동네</strong>
										</li>
										<li><span style="height:{{dataFormat statsPopup.suppluRateMin_p "0,0.0"}}%"><em>{{dataFormat statsPopup.suppluRateMin_p "0,0.0"}}</em></span><strong class="double">최저<br>({{myWater.popupListSUM.7.cityName}})</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="water_info_table">
							<div class="table last_align_right">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width: 50%;">
										<col style="width: 50%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">상수도보급률(%)</th>
									</tr>
									</thead>
									<tbody>
									<tr class="highlight">
										<th scope="row">{{myWater.popupListMy.cityName}}</th>
										<td>{{myWater.popupListMy.percent}}</td>
									</tr>
									<tr>
										<th scope="row">최대<br>(지자체명)</th>
										<td>{{myWater.popupListSUM.1.strValue}}<br>( {{myWater.popupListSUM.1.cityName}} )</td>
									</tr>
									<tr>
										<th scope="row">최소<br>(지자체명)</th>
										<td>{{myWater.popupListSUM.7.strValue}}<br>( {{myWater.popupListSUM.7.cityName}} )</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="water_info_table2">
							<div class="table last_align_right">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width: 50%;">
										<col style="width: 50%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">상수도보급률(%)</th>
									</tr>
									</thead>
									<tbody>
									{{#each myWater.popupList}}
									<tr>
										<th scope="row" data-area="{{regionCd}}">{{cityName}}</th>
										<td>{{percent}}</td>
									</tr>
									{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>