<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">전국 댐,보 수문현황</h1>
				<button type="button" class="btn_popup_close _popup_close">
					<span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="box_inner none_top_padding">
					<div class="m_water ">
						<div class="tit_area">
							<p><strong>전국 다목적댐 현황</strong></p>
							<span id="boCurTime">현재 : {{date}}</span>
						</div>
						<div class="more _btn_dam_more" style="text-align: right; padding: 0;margin: 0;">
							<a href="#" class="btn _btn_water_info">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
						</div>
						<div class="water_info">
							<div class="box_color01">
								<h5>강우량(면적평균)</h5>
								<div>
									<p id="boCurFall">
										<strong class="{{multi.getJsonData.increase_fall}}">{{dataFormat multi.getJsonData.cur_fall "0,0.0"}}<span>mm</span></strong><span>(전일 {{dataFormat multi.getJsonData.yester_fall "0,0.0"}}mm)</span></p>
									<table>
										<caption>전국 다목적댐 현황 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">누계</th>
											<th scope="col">금년</th>
											<th scope="col">작년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>mm</td>
											<td id="boThisYFall">{{dataFormat multi.getJsonData.cum_this_year_fall "0,0.0"}}</td>
											<td id="boLastYFall">{{dataFormat multi.getJsonData.cum_last_year_fall "0,0.0"}}</td>
											<td id="boLastFall">{{dataFormat multi.getJsonData.cul_last_fall "0,0.0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="box_color02">
								<h5>유입량/방류량 (합계)</h5>
								<div>
									<p id="boFlow">
										<strong class="{{multi.getJsonData.increase_inflow}}">{{dataFormat multi.getJsonData.cur_inflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat multi.getJsonData.yes_inflow "0,0"}} CMS)</span>
										<strong class="{{multi.getJsonData.increase_outflow}} mt30">{{dataFormat multi.getJsonData.cur_outflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat multi.getJsonData.yes_outflow "0,0"}} CMS)</span>
									</p>
								</div>
							</div>
							<div class="box_color03">
								<h5>저수량 (합계)</h5>
								<div>
									<p id="boStorage">
										<strong class="{{multi.getJsonData.increase_storage}}">{{dataFormat multi.getJsonData.cur_storage "0,0"}}<span>백만m<sup>3</sup></span></strong><span>(저수율 {{multi.getJsonData.cur_storage_rate}}%)</span>
									</p>
									<table>
										<caption>저수량 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">저수량</th>
											<th scope="col">전일</th>
											<th scope="col">전년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>백만m<sup>3</sup></td>
											<td id="boYestStorage">{{dataFormat multi.getJsonData.yes_storage "0,0"}}</td>
											<td id="boLastYStorage">{{dataFormat multi.getJsonData.last_year_storage "0,0"}}</td>
											<td id="boLastStorage">{{dataFormat multi.getJsonData.last_storage "0,0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tit_area tit02 mt35">
							<p><strong>전국 용수댐 현황</strong></p>
							<span id="boCurTime">현재 : {{date}}</span>
						</div>
						<div class="more _btn_dam_more" style="text-align: right; padding: 0;margin: 0;">
							<a href="#" class="btn _btn_water_info">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
						</div>
						<div class="water_info">
							<div class="box_color01">
								<h5>강우량(면적평균)</h5>
								<div>
									<p id="boCurFall">
										<strong class="{{water.getJsonData.increase_fall}}">{{dataFormat water.getJsonData.cur_fall "0,0.0"}}<span>mm</span></strong><span>(전일 {{dataFormat water.getJsonData.yester_fall "0,0.0"}}mm)</span></p>
									<table>
										<caption>전국 다목적댐 현황 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">누계</th>
											<th scope="col">금년</th>
											<th scope="col">작년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>mm</td>
											<td id="boThisYFall">{{dataFormat water.getJsonData.cum_this_year_fall "0,0.0"}}</td>
											<td id="boLastYFall">{{dataFormat water.getJsonData.cum_last_year_fall "0,0.0"}}</td>
											<td id="boLastFall">{{dataFormat water.getJsonData.cul_last_fall "0,0.0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="box_color02">
								<h5>유입량/방류량 (합계)</h5>
								<div>
									<p id="boFlow">
										<strong class="{{water.getJsonData.increase_inflow}}">{{dataFormat water.getJsonData.cur_inflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat water.getJsonData.yes_inflow "0,0"}} CMS)</span>
										<strong class="{{water.getJsonData.increase_outflow}} mt30">{{dataFormat water.getJsonData.cur_outflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat water.getJsonData.yes_outflow "0,0"}} CMS)</span>
									</p>
								</div>
							</div>
							<div class="box_color03">
								<h5>저수량 (합계)</h5>
								<div>
									<p id="boStorage">
										<strong class="{{water.getJsonData.increase_storage}}">{{dataFormat water.getJsonData.cur_storage "0,0"}}<span>백만m<sup>3</sup></span></strong><span>(저수율 {{water.getJsonData.cur_storage_rate}}%)</span>
									</p>
									<table>
										<caption>저수량 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">저수량</th>
											<th scope="col">전일</th>
											<th scope="col">전년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>백만m<sup>3</sup></td>
											<td id="boYestStorage">{{dataFormat water.getJsonData.yes_storage "0,0"}}</td>
											<td id="boLastYStorage">{{dataFormat water.getJsonData.last_year_storage "0,0"}}</td>
											<td id="boLastStorage">{{dataFormat water.getJsonData.last_storage "0,0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tit_area tit03 mt35">
							<p><strong>전국 다기능보 수문 현황</strong></p>
							<span id="boCurTime">현재 : {{date}}</span>
						</div>
						<div class="more _btn_dam_more" style="text-align: right; padding: 0;margin: 0;">
							<a href="#" class="btn _btn_water_info">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
						</div>
						<div class="water_info">
							<div class="box_color01">
								<h5>강우량(면적평균)</h5>
								<div>
									<p id="boCurFall">
										<strong class="{{bo.getJsonData.increase_fall}}">{{dataFormat bo.getJsonData.cur_fall "0,0.0"}}<span>mm</span></strong><span>(전일 {{dataFormat bo.getJsonData.yester_fall "0,0.0"}}mm)</span></p>
									<table>
										<caption>전국 다목적댐 현황 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">누계</th>
											<th scope="col">금년</th>
											<th scope="col">작년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>mm</td>
											<td id="boThisYFall">{{dataFormat bo.getJsonData.cum_this_year_fall "0,0.0"}}</td>
											<td id="boLastYFall">{{dataFormat bo.getJsonData.cum_last_year_fall "0,0.0"}}</td>
											<td id="boLastFall">{{dataFormat bo.getJsonData.cul_last_fall "0,0.0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="box_color02">
								<h5>유입량/방류량 (합계)</h5>
								<div>
									<p id="boFlow">
										<strong class="{{bo.getJsonData.increase_inflow}}">{{dataFormat bo.getJsonData.cur_inflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat bo.getJsonData.yes_inflow "0,0"}} CMS)</span>
										<strong class="{{bo.getJsonData.increase_outflow}} mt30">{{dataFormat bo.getJsonData.cur_outflow "0,0.0"}}<span>CMS</span></strong><span>(전일 {{dataFormat bo.getJsonData.yes_outflow "0,0"}} CMS)</span>
									</p>
								</div>
							</div>
							<div class="box_color03">
								<h5>저수량 (합계)</h5>
								<div>
									<p id="boStorage">
										<strong class="{{bo.getJsonData.increase_storage}}">{{dataFormat bo.getJsonData.cur_storage "0,0"}}<span>백만m<sup>3</sup></span></strong><span>(저수율 {{bo.getJsonData.cur_storage_rate}}%)</span>
									</p>
									<table>
										<caption>저수량 정보</caption>
										<colgroup>
											<col style="width:25%" span="4">
										</colgroup>
										<thead>
										<tr>
											<th scope="col">저수량</th>
											<th scope="col">전일</th>
											<th scope="col">전년</th>
											<th scope="col">예년</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>백만m<sup>3</sup></td>
											<td id="boYestStorage">{{dataFormat bo.getJsonData.yes_storage "0,0"}}</td>
											<td id="boLastYStorage">{{dataFormat bo.getJsonData.last_year_storage "0,0"}}</td>
											<td id="boLastStorage">{{dataFormat bo.getJsonData.last_storage "0,0"}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>