<div class="dim_block">
		<div class="wrap_popup popup_info">
			<div class="popup_inner">
				<div class="popup_header">
					<h1 class="popup_title">조류경보제 발령 현황</h1>
					<button type="button" class="btn_popup_close _popup_close"><span class="sprite sprite_common icon_reveal_close">닫기</span></button>
				</div>
				<div class="popup_contents">
					<div class="tidal_img" id="tidal_img">
						<!--img src="../../images/page/img_tidal_current_page.jpg" alt=""-->
					</div>
					<div class="box_inner none_top_padding">
						<div class="table table_center table_border">
							<table>
								<caption></caption>
								<colgroup>
									<col style="width:30%;">
									<col style="width:70%;">
								</colgroup>
								<thead>
								<tr>
									<th scope="col">대상</th>
									<th scope="col">{{getJsonData.ALERT_OBJECT}}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>지점</td>
									<td>{{getJsonData.ALERT_POINT}}</td>
								</tr>
								<tr>
									<td>단계</td>
									<td><span class="round_signal icon_signal_{{tidal getJsonData.STAGE}}"></span>{{getJsonData.STAGE}}</td>
								</tr>
								<tr>
									<td>발령일</td>
									<td>{{getJsonData.ALERT_DATE}}</td>
								</tr>
								<tr>
									<td>기관</td>
									<td>{{getJsonData.ALERT_INSTITUTE}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="tidal_alarm">
							<div class="table table_center table_border table_blue">
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:25%;">
										<col style="width:75%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">경보단계</th>
										<th scope="col">발령 해제 기준(상수원 구간)</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td><span class="signal_left_wrap"><span class="round_signal "><img src="/images/egovframework/mkwip/map/pin01.png" width="10" /></span>미발령</span></td>
										<td class="align_left">채취 시 남조류 세포수가 1,000세포 / ㎖ 미만일 경우</td>
									</tr>
									<tr>
										<td><span class="signal_left_wrap"><span class="round_signal "><img src="/images/egovframework/mkwip/map/pin02.png" width="10" /></span>관심</span></td>
										<td class="align_left">2회 연속 채취 시 남조류 세포가 1,000세포/㎖이상 10,000세포/㎖미만인 경우</td>
									</tr>
									<tr>
										<td><span class="signal_left_wrap"><span class="round_signal "><img src="/images/egovframework/mkwip/map/pin03.png" width="10" /></span>경계</span></td>
										<td class="align_left">2회 연속 채취 시 남조류 세포가 10,000세포/㎖이상 1,000,000세포/㎖미만인 경우</td>
									</tr>
									<tr>
										<td><span class="signal_left_wrap"><span class="round_signal "><img src="/images/egovframework/mkwip/map/pin04.png" width="10" /></span>대발생</span></td>
										<td class="align_left">2회 연속 채취 시 남조류 세포가 1,000,000세포/㎖ 이상인 경우</td>
									</tr>
									</tbody>
								</table>
								<table>
									<caption></caption>
									<colgroup>
										<col style="width:100%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">조치사항</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>경계이상 발령시 낚시·수상스키· 수영 등 친수활동,<br>
											어패류 어획·식용, 가축 방목 등의 자제 권고</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</div>