<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">실시간</h2>
	</div>
	<!-- box contents -->
	<div class="box_contents">
		<div class="real_time_search">
			<div class="tap">
				<ul class="clearfix">
					<li class="active col-xs-4" data-tab="#tab01">
						<a href="#">댐/보</a>
					</li>
					<li class="col-xs-4" data-tab="#tab02">
						<a href="#">상수도</a>
					</li>
					<li class="col-xs-4" data-tab="#tab03">
						<a href="#">하수도</a>
					</li>
				</ul>
			</div>
			<div id="tab_pannel"></div>
		</div>
	</div> <!-- //box contents -->
</div>
<!-- //area_contents -->

<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">일반현황</h2>
		<!--<a href="/disaster/general/general02.contents" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>-->
	</div>
	<!-- box contents -->
	<div class="box_contents">
		<div class="grid_inner">
			<!--  가로형 이미지 리스트 -->
			<ul class="wa_thumbnail_horz_list">
				{{#each common.list}}
				<li>
					<a href="//m.water.or.kr/{{detail_URL}}" class="_btn_move_sub">
						<div class="list_img">
							<img src="{{thum_URL}}" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">{{title}}</p>
							<p class="list_txt">{{cont}}</p>
						</div>
					</a>
				</li>
				{{/each}}
			</ul> <!--  //가로형 이미지 리스트 -->
		</div>
	</div> <!-- //box contents -->
</div>
<!-- //area_contents -->


<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">홍수현황</h2>
		<a href="//m.water.or.kr/disaster/flood/flood01.do" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents none_top_bottom_padding">
		<div class="box_contents_header">
			<h3 class="sub_title">댐운영현황(<span id="location">금강수계</span>)</h3>
			<select class="select_blue" id="selectFloodSm" style="width: 80px;">
				<option>한강수계</option>
				<option>낙동강수계</option>
				<option>금강수계</option>
				<option>영산강수계</option>
			</select>
		</div>
		<div class="water_system_wrap" id="tableFloodSm">
			<div class="system_img">
				<img src="../../images/page/img_dam_water_system_01.png" alt="">
			</div>
			<div class="table table_border table_center">
				<table>
					<caption></caption>
					<colgroup>
						<col style="width:30%;">
						<col style="width:20%;">
						<col style="width:20%;">
						<col style="width:20%;">
					</colgroup>
					<thead>
					<tr>
						<th scope="col">시설물</th>
						<th scope="col">현재수위<br>(EL.m)</th>
						<th scope="col">계획홍수위<br>(EL.m)</th>
						<th scope="col">상시만수위<br>(EL.m)</th>
					</tr>
					</thead>
					<tbody>
					{{#each floodSM.floodDamList}}
					<tr>
						<td class="A{{estcd}} location"></td>
						<td>{{rwl}}</td>
						<td>{{plfwl}}</td>
						<td>{{odflwl}}</td>
					</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="box_contents none_top_padding margin_top border_top">
		<div class="box_contents_header">
			<h3 class="sub_title">홍수예경보 현황(<span id="locationIdx">금강수계</span>)</h3>
			<select class="select_blue" id="selectFlood" style="width: 80px;">
				<option>한강수계</option>
				<option>낙동강수계</option>
				<option>금강수계</option>
				<option>영산강수계</option>
            </select>
		</div>
		<div class="water_system_wrap" id="tableFlood">
			<div class="system_img">
				<img src="../../images/page/img_dam_water_system_02.png" alt="">
			</div>
			<div class="table table_border table_center">
				<table>
					<caption></caption>
					<colgroup></colgroup>
					<thead>
					<tr>
						<th scope="col" rowspan="2">주요지점</th>
						<th scope="col" colspan="3">수위(m)</th>
						<!--<th scope="col" rowspan="2">유량<br>(㎥/초)</th>-->
						<th scope="col" rowspan="2">예경보<br>현황</th>
						<th scope="col" rowspan="2">발령<br>일시</th>
					</tr>
					<tr>
						<th scope="col">현재</th>
						<th scope="col">주의보</th>
						<th scope="col">경보</th>
					</tr>
					</thead>
					<tbody>
					{{#each flood.list}}
						<tr>
							<td>{{damnm}}</td>
							<td>{{wl}}</td>
							<td>{{wrnwl}}</td>
							<td>{{almwl}}</td>
							<!--<td>{{fw}}</td>-->
							<td>{{kind}}</td>
							<td>{{ancdt}}</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">가뭄현황</h2>
		<a href="//m.water.or.kr/disaster/drought/drought01.contents" class="btn _btn_move_sub">더보기
			<span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents none_top_padding">
		<div class="box_contents_header">
			<h3 class="sub_title">1년 누적 강수량 분포도(mm)/평년비(%)</h3>
		</div>
		<div class="rainfall_map">
			<img src="//www.water.or.kr/images/egovframework/disaster/drought/prcp.png" alt="">
			<!--<img src="/images/egovframework/disaster/flood/PRCP.png" alt="">-->
		</div>
	</div>
	<div class="box_contents none_top_padding margin_top border_top">
		<div class="box_contents_header">
			<h3 class="sub_title">{{drought.result.title}}</h3>
			<!--<a href="#" class="btn">원문다운로드 <span class="sprite sprite_common icon_pdf right_sprite"></span></a>-->
		</div>
		<div class="drought_forecast_wrap ">
			<div class="tap_drought _tabs">
				<ul class="clearfix">
					<li class="active">
						<a href="#">
							<div class="icon_box"><span class="sprite sprite_tab icon_drought_tab_01"></span></div>
							<p class="tap_txt">기상</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="icon_box"><span class="sprite sprite_tab icon_drought_tab_02"></span></div>
							<p class="tap_txt">생활</p>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="icon_box"><span class="sprite sprite_tab icon_drought_tab_03"></span></div>
							<p class="tap_txt">농업</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="area_box" id="tab01">
				<div class="drought_img">
					<img src="{{drought.result.now_TP_MB_FILE_NAME}}" alt="">
				</div>
				<div class="table table_border table_center">
					<table>
						<caption></caption>
						<colgroup>
							<col style="width:20%;">
							<col style="width:80%;">
						</colgroup>
						<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">지역</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>주의</td>
							{{droughtTxt drought.result.now_TP_A}}
						</tr>
						<tr>
							<td>심함</td>
							{{droughtTxt drought.result.now_TP_B}}
						</tr>
						<tr>
							<td>매우심함</td>
							{{droughtTxt drought.result.now_TP_C}}
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="area_box" id="tab02" style="display: none;">
				<div class="drought_img">
					<img src="{{drought.result.now_LFWTR_MB_FILE_NAME}}" alt="">
				</div>
				<div class="table table_border table_center">
					<table>
						<caption></caption>
						<colgroup>
							<col style="width:20%;">
							<col style="width:80%;">
						</colgroup>
						<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">지역</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>주의</td>
							{{droughtTxt drought.result.now_LFWTR_A}}
						</tr>
						<tr>
							<td>심함</td>
							{{droughtTxt drought.result.now_LFWTR_B}}
						</tr>
						<tr>
							<td>매우심함</td>
							{{droughtTxt drought.result.now_LFWTR_C}}
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="area_box" id="tab03" style="display: none;">
				<div class="drought_img">
					<img src="{{drought.result.now_FRMWTR_MB_FILE_NAME}}" alt="">
				</div>
				<div class="table table_border table_center">
					<table>
						<caption></caption>
						<colgroup>
							<col style="width:20%;">
							<col style="width:80%;">
						</colgroup>
						<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">지역</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>주의</td>
							{{droughtTxt drought.result.now_FRMWTR_A}}
						</tr>
						<tr>
							<td>심함</td>
							{{droughtTxt drought.result.now_FRMWTR_B}}
						</tr>
						<tr>
							<td>매우심함</td>
							{{droughtTxt drought.result.now_FRMWTR_C}}
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">조류현황</h2>
		<a href="//m.water.or.kr/disaster/algaealert/Algaealert01.do" class="btn _btn_move_sub">더보기<span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="clearfix" style="padding: 5px 10px;">
		<select class="select_blue" id="selectTidal" style="width: 100px; float: right; 	">
			<option>한강수계</option>
			<option>낙동강수계</option>
			<option>금강수계</option>
			<option>영산강수계</option>
		</select>
	</div>
	<div class="box_contents" id="tidal"></div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<!--<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">기상이변 현황</h2>
		<a href="#" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	&lt;!&ndash; box contents &ndash;&gt;
	<div class="box_contents">
		<div class="grid_inner">
			&lt;!&ndash;  가로형 이미지 리스트 &ndash;&gt;
			<ul class="wa_thumbnail_horz_list">
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_38.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">[기후변화] 전세계 현황 및 전망</p>
							<p class="list_txt">지난 100년간 전 지구 평균기온의 증가 추세는 지속되고 있다.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_39.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">[기상이변] 기상이변의 원인</p>
							<p class="list_txt">기상이변은 지구온난화에 의한 엘니뇨와 라니냐, 북극진동 등이</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_40.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">최근 10년간 자연재난 발생 추세</p>
							<p class="list_txt">취수원에서 수도꼭지까지 수돗물이 만들어지는 과정 설명에 대해 알아본다</p>
						</div>
					</a>
				</li>
			</ul> &lt;!&ndash;  //가로형 이미지 리스트 &ndash;&gt;
		</div>
	</div> &lt;!&ndash; //box contents &ndash;&gt;
</div>-->
<!-- //area_contents -->

    